<!DOCTYPE html>
<html>
  <head>
    <title>My Cart</title>
    <style>
      
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
          }

          /* Style the page background and font */
          body {
            background-color: #f5f5f5;
            font-family: Arial, sans-serif;
          }

          /* Style the cart title */
          h1 {
            margin: 20px 0;
            text-align: center;
          }

          /* Style the cart table */
          table {
            margin: 0 auto;
            border-collapse: collapse;
            width: 80%;
          }

          /* Style the table headers */
          thead {
            background-color: #444;
            color: #fff;
          }

          th {
            padding: 10px;
            text-align: left;
          }

          /* Style the table rows */
          tbody tr:nth-child(even) {
            background-color: #f2f2f2;
          }

          td {
            padding: 10px;
          }

          /* Style the table footer */
          tfoot {
            font-weight: bold;
          }

          tfoot tr:first-child {
            border-top: 2px solid #444;
          }

          tfoot td {
            padding: 10px;
          }

          /* Style the checkout button */
          .checkout-btn {
            display: block;
            margin: 20px auto;
            padding: 10px 20px;
            background-color: #444;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
          }

          .checkout-btn:hover {
            background-color: #666;
          }
  </style>
  </head>
  <body>
    <h1>My Cart</h1>
    <table>
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        {% for product in product %}
        <tr>
          <td>
            <img src={{product.product_id.img_link}} width="100" height="100" alt="Product 1">
            {{ product.product_id.name }}
          </td>
          <td>${{ product.product_id.price }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.subtotal }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">Subtotal:</td>
          <td>{{ cart_total }}</td>
        </tr>
      </tfoot>
    </table>
    <button class="checkout-btn">Checkout</button>
  </body>
</html>