<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>amazon</title>
    <style>
        * {
            box-sizing: border-box
        }

        body {
            font-family: "Lato", sans-serif;
        }

        /* Style the tab */
        .tab {
            float: left;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
            width: 20%;
            height: 100vh;

        }

        .tab-content {
            display: block;
            /* padding: 10px; */
            /* text-align: center; */
        }

        .tab-content h3 {
            text-align: center;
        }
        .cards{
            display: flex;
            flex-direction: row;
            gap :10px;
            margin-top: 50px;
            margin-left: 100px;

        }
    </style>
    
    
  </head>

  <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">ecommerce</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
                </li>
              
            </ul>
            <form class="form-inline my-2 my-lg-0">
               {% csrf_token %}
                <input class="form-control mr-sm-2" type="search" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <div class="logins" id="login_">
                <button type="button" class="btn btn-light"><a href="login"
                        style="color: black;text-decoration:none">login</a></button>
                <button type="button" class="btn btn-light"><a href="{%url 'shopping:logout' %}"
                        style="color: black;text-decoration:none">logout</a></button>
                <button type="button" class="btn btn-light"><a href="{%url 'shopping:cart_data' %}"
                        style="color: black;text-decoration:none"><i class="fa-solid fa-cart-shopping"></i></a></button>

            </div>
            </div>
        </nav>
        <div class="cards">
            {%for product in product%}

                </div> -->
                <div class="card" style="width: 18rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxpm3A9IzoUPz6WewB6I6tpM7mg6cYT41v2J18ekWBmA&usqp=CAU&ec=48665701" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        
                            <h5 class="card-title">brand:{{product.name}}</h5>
                            <p class="card-text">price:{{product.price}}</p>
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                    </div>
              </div>
                
            {%endfor%}
            
        </div>
       
    
       
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

        
      
  </body>
</html>
   