<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>login to ecommerce</title>
        <title>Login Page</title>
        <style>
            body {
                background-color: #f1f1f1;
                font-family: Arial, sans-serif;
                font-size: 16px;
                margin: 0;
                padding: 0;
            }
            .container {
                background-color: #fff;
                border-radius: 10px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                margin: 50px auto;
                max-width: 500px;
                padding: 50px;
                text-align: center;
            }
            h1 {
                color: #333;
                font-size: 24px;
                margin-bottom: 30px;
            }
            input[type="text"],
            input[type="password"] {
                background-color: #f1f1f1;
                border: none;
                border-radius: 5px;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
                margin-bottom: 20px;
                padding: 10px;
                width: 100%;
            }
            input[type="submit"] {
                background-color: #4CAF50;
                border: none;
                border-radius: 5px;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
                color: #fff;
                cursor: pointer;
                margin-top: 20px;
                padding: 10px;
                width: 100%;
            }
            input[type="submit"]:hover {
                background-color: #3e8e41;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Login</h1>
            <form method="POST" action="{% url 'shopping:login' %}">
                {% csrf_token %}
                <input type="text" name = "username" placeholder="Username">
                <input type="password" name = "password" placeholder="Password">
                <input type="submit" value="Login">
            </form>
        </div>
    </body>
</html>
