<!DOCTYPE html>
<html>
<head>
	<title>Rock Paper Scissors</title>
</head>
<body>
	<h1>Rock Paper Scissors</h1>
	{% if result %}
	<p>{{result}}</p>
	{% endif %}
	<form action="{% url 'rock_paper_scissor_function'%}" method="post">
		{% csrf_token %}
		<label>Choose your choice:</label>
		<select name="player1_choice">  
			<option value="rock">rock</option>
			<option value="paper">Paper</option>
			<option value="scissors">scissors</option>
		</select>
        <select  name="player2_choice">
			<option value="rock">rock</option>
			<option value="paper">paper</option>
			<option value="scissors">scissors</option>
		</select>
		<button type="submit">Play!</button>
	</form>
</body>
</html>