<!DOCTYPE html>
<html>

    <body>
<h2>List of Notices</h2>
<ul>

    {% for notice in notices %}

    <li>{{ notice.title }} - {{ notice.text }} -{{notice.contact}}</li>
    {% endfor %}

</ul>

    </body>

</html>