<!DOCTYPE html>
<html>
    <body>
<form method="POST">
    {% csrf_token %}
    <label for="title">Title:</label>
    <input type="text" id="title" name="title">
    <br><br>
    <label for="text">contact:</label>
    <input type="text" id="author" name="author">
    <br><br>
    <label for="content">Content:</label>
    <textarea id="content" name="content"></textarea>
    <br><br>
    <input type="submit" value="Create">
  </form>
  </body>
  </html>