<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Details</title>
</head>
<body>
    <h1>{{employee.name}}</h1>
        <!-- {{attendence}} -->
        
        <table>
            {%for item in attendance%}
                <tr>
                    <td>{{item.date}}</td>
                    <td>{{item.attendance}}</td>
                </tr>
            {%endfor%}
                    <form method="POST" action="{%url 'employees:mark_attendance' employee.id %}">
                        {% csrf_token %}
                        <tr>
                            <td><input type="date" name="date"></td>
                            <!-- <td><input type="text" name="attendance" placeholder="attendance"/></td> -->
                            <td> <select name="attendance">
                                <option value="Present">Present</option>
                                <option value="Absent">Absent</option>
                            </select>
                        </td>
                       
                        
                        <!-- <td><intput type="submit"  value="markattendance"></td> -->
                        <td><input type="submit" value="Submit"></td>
                    </tr>
                </form>
    </table>


</body>
</html>