<!DOCTYPE html>
<html>
    <body>
        <h3>All packages</h3>
        <table>
            <th>
                <tr>
                    <td>ID</td>
                    <td>Phone</td>
                    <td>Address</td>
                    <td>Status</td>
                    <td>ETA</td>
                </tr>
            </th>
            {% for package in packages %}
            <tr>
                <td>{{package.id}}</td>
                <td>{{package.phone}}</td>
                <td>{{package.address}}</td>
                <form method="POST" action="{% url 'proj:modify' package.id %}">
                    {% csrf_token %}
                    <td><input type="text" name="status" value="{{package.status}}"></td>
                    <td><input type="date" name="eta" value="{{package.eta|date:'Y-m-d'}}"></td>
                    <td><input type="submit" value="Change status and ETA"></td>
                </form>
            </tr>
            {% endfor %}
        </table>
        <a href="{% url 'proj:logout' %}">Logout</a>
    </body>
</html>