<!DOCTYPE html>
<html>
    <body>
        <h3>Postman Login</h3>
        <form method="POST" action="{% url 'proj:login' %}">
            {% csrf_token %}
            <input name="username" placeholder="username" type="text">
            <input name="password" placeholder="password" type="password">
            <input value="login" type="submit">
        </form>

        <p>Customer? Register a package <a href="{% url 'proj:register' %}">here.</a></p>

    </body>
</html>